@media only screen and (max-width: 504px) {
	.header {
	width: 100%;
	height: 120px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	z-index: 1;
	text-align: right;
}

.header ul {
	list-style-type: none;
	display: list-item;
	margin: 0;
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0%, -50%);	
}

.header ul li {
	list-style-type: none;
	display: list-item;
	font-family: poiret one;
	color: #e1e1e1;
}

.header ul li a {
	font-family: poiret one;
	font-size: 130%;
	text-decoration: none;
	color: #e1e1e1;
	margin-left: 15px;
	transition-duration: 0.1s;
	padding-bottom: 0;
	border-bottom: none;
}

.header ul li a:hover {
	color: #e1e1e1;
	padding-bottom: 0;
	border-bottom: none;
}

.header ul li a:active {
	color: #000;
	padding-bottom: 0;
	border-bottom: none;
}

.logo {
	width: 90px;
	height: 90px;
	background-color: #362f2d;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo h1 {
	margin: 0;
	font-size: 337%;
	color: #e1e1e1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner {
	width: 100%;
	height: 652px;
	background: url("img/banner.jpg") no-repeat center center;
	background-size: cover;
	position: relative;
}

.banner .text {
	width: 100%;
	height: auto;
	background-color: none;
	text-align: center;
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner .text h1 {
	margin: 0;
	color: #e1e1e1;
	font-size: 270%;
}

.banner .text h3 {
	margin: 0;
	color: #e1e1e1;
	font-size: 90%;
}


.who-i-am {
	width: 100%;
	height: auto;
	background-color: #e1e1e1;
	padding: 0;
	text-align: center;
}

.who-i-am h1 {
	margin: 0;
	font-size: 300%;
	
}

.who-i-am p {
	display: inline-block;
	margin: 0;
	width: 100%;
	height: auto;
	font-size: 150%;
	text-align: center;
}

.who-i-am img {
	margin-left: 125px;
	filter: grayscale(1);
	margin: 0 auto;
}

.job {
	width: 100%;
	height: 400px;
	background-color: #000;
}

.job .photo {
	width: 100%;
	height: 300px;
	background: url("img/job.jpg") no-repeat center center;
	background-size: cover;
	float: left;
}

.job .text {
	width: 100%;
	height: 100px;
	position: relative;
	float: right;
	text-align: center;
}

.job .text h1 {
	margin: 0;
	width: 100%;
	display: inline-block;
	font-size: 262%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.clients {
	width: 100%;
	height: 900px;
	background-color: #a1a1a1;
}

.clients .container {
	width: 100%;
	height: 400px;
	background-color: none;
	margin: 0;
	float: right;
}

.clients .container .art {
	width: 100%;
	height: 200px;
	background: url("img/art.jpg") no-repeat center center;
	background-size: cover;
	float: left;
}

.clients .container .restaurant {
	width: 100%;
	height: 200px;
	background: url("img/restaurant.jpg") no-repeat center center;
	background-size: cover;
	float: left;
}

.clients .container .school {
	width: 100%;
	height: 200px;
	background: url("img/school.jpg") no-repeat center center;
	background-size: cover;
	float: left;
}

.clients .container .kids {
	width: 100%;
	height: 200px;
	background: url("img/kids.jpg") no-repeat center center;
	background-size: cover;
	float: left;
}

.clients .text {
	width: 100%;
	height: 100px;
	background-color: none;
	position: relative;
	float: left;
	text-align: center;
}

.clients .text h1 {
	width: 100%;
	margin: 0;
	display: inline-block;
	font-size: 180%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cyprus-text {
	width: 100%;
	height: 200px;
	background-color: #827b00;
	clear: both;
	float: left;
	position: relative;
}

.cyprus-text h1 {
	width: 100%;
	margin: 0;
	font-size: 240%;
	color: #d1c572;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cyprus-image {
	width: 100%;
	height: 200px;
	background: url("img/cyprus.jpg") no-repeat center center;
	background-size: cover;
	float: right;
}

.footer {
	width: 100%;
	height: 105px;
	background-color: #000;
	position: relative;
	clear: both;
}

.footer p {
	width: 100%;
	margin: 0;
	color: #e1e1e1;
	font-family: poiret one;
	font-size: 83%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer p a {
	text-decoration: none;
	color: lightblue;
	transition-duration: 0.2s;
}

.footer p a:hover {
	color: #fff;
}

#top {
	width: 40px;
	height: 40px;
	background-color: rgba(130,123,0,0.7);
	position: fixed;
	right: 10px;
	bottom: 10px;
	transition-duration: 0s;
	border-radius: 50%;
}

#top p {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#top:hover {
	background-color: rgba(130,123,0,0.7);
}

#top:active {
	background-color: rgba(130,123,0,0.5);
}
}